In [2]:
import pandas as pd
import numpy as np
import matplotlib as pl
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier  
from sklearn.tree import DecisionTreeRegressor 
from sklearn.model_selection import cross_val_score

In [24]:
data = pd.read_csv("bikes_train.csv")

In [25]:
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [26]:
data["datetime"] = pd.to_datetime(data["datetime"])
data["dayofweek"] = data["datetime"].dt.dayofweek      #The day of the week with Monday=0, Sunday=6
data["year"] = data["datetime"].dt.year
data["month"] = data["datetime"].dt.month
data["day"] = data["datetime"].dt.day
data["hour"] = data["datetime"].dt.hour

In [27]:
y = data["count"]
features = ["season","holiday","workingday","weather","temp","atemp","humidity","windspeed","dayofweek","year","month","day","hour"]
X = data[features]

In [7]:
X.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,dayofweek,year,month,day,hour
0,1,0,0,1,9.84,14.395,81,0.0,5,2011,1,1,0
1,1,0,0,1,9.02,13.635,80,0.0,5,2011,1,1,1
2,1,0,0,1,9.02,13.635,80,0.0,5,2011,1,1,2
3,1,0,0,1,9.84,14.395,75,0.0,5,2011,1,1,3
4,1,0,0,1,9.84,14.395,75,0.0,5,2011,1,1,4

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
parameters = {'max_depth': range(1, 11),
              'min_samples_split': range(2, 21), 'min_samples_leaf': range(1, 21)}
tree = DecisionTreeRegressor()

In [10]:
regressor = GridSearchCV(estimator = tree, param_grid = parameters)

In [11]:
regressor.fit(X = X_train, y=y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': range(1, 11), 'min_samples_split': range(2, 21), 'min_samples_leaf': range(1, 21)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [12]:
predicted = regressor.predict(X_test)

In [13]:
wyniki = pd.DataFrame({"y_true":y_test,"y_pred":predicted}, index = y_test.index)

In [14]:
wyniki

           y_pred  y_true
3133   154.115044     127
5786    60.166667      13
5224   220.052632     163
8953   249.753886     233
8054   201.863636     222
10044  151.200000     166
5337   168.521739     144
2753   382.262712     376
10127  605.250000     601
33      66.062500      53
4634     7.200000       6
8104    18.705128      14
2855   343.500000     209
3460    59.800000      62
1408   138.089286     139
3844    13.937500       9
9257    73.764706      96
1056    81.885057      98
3837   180.785714     230
3079     5.250000      12
1608    36.333333      54
1768   164.272727     107
10720    8.800000       8
2507   171.921053     182
6906     4.700000      11
7051     2.630252       1
7361    73.764706      93
3487    22.000000      17
483     33.375000      39
3704    19.250000      11
...           ...     ...
7443   249.753886     280
10810  133.444444     122
2452    15.000000      13
9229   259.708333     299
7923   568.368000     502
837    211.906250     272
7482     7.096386      13
5452    29.285714      16
3784   213.030303     156
9021    30.000000      27
6109   181.470588     262
7793     8.800000       8
6220   125.142857     120
6673   475.300000     623
10509  371.454545     502
157     98.649123      51
6930    50.142857      36
6821   249.753886     281
1441    74.250000      46
8904   329.901961     305
10237  111.500000     109
8698   466.190476     397
5479   111.988095      60
4638    97.575758      90
8241   501.746479     430
1963   316.590909     351
5807     2.630252       2
10061  447.714286     509
5427     8.500000       5
7588   121.666667     239

[2178 rows x 2 columns]

In [15]:
def rmsle(y_pred, y_true) :
    assert len(y_true) == len(y_pred)
    return np.sqrt(np.mean((np.log(1+y_pred) - np.log(1+y_true))**2))

In [39]:
rmsle(y_pred=predicted, y_true=y_test)

0.383604945875327

In [40]:
test = pd.read_csv("https://storage.googleapis.com/kaggle-competitions-data/kaggle/3948/test.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1528195692&Signature=j5Y0p3gSNPzLQ%2FlUG20AHX8D5YYcXqTJx%2FH6GoUoGzI1ECywxEhvRGlAjwe4V4B73NYHXLY0sYZPpSymKphoPF8as4eRNDrK%2BRu6gTC1mfYDRZoMp7%2F5fppYcQiWHtXJzTT3tZtt0q6SQZXrE5%2BHIFl2TNBnB7yTXrpG1Xif5upFEH6Ja7OLCCsmGlOmOhlI8RNm3uGMAgJhBGrnLojST%2FPCi4TeStZ2QqI4zYA3D4mGHSMGQzLw47tIP9CfOR1I14H53vc7MSLmzxMO7uhSd5h2uqVuDXzj%2B%2Br8HJjCjWpRve1dqhAWLrcW26SYZueG%2FKXXotm4UWvx6MD%2BCJzryg%3D%3D")

In [41]:
test["datetime"] = pd.to_datetime(test["datetime"])
test["dayofweek"] = test["datetime"].dt.dayofweek      #The day of the week with Monday=0, Sunday=6
test["year"] = test["datetime"].dt.year
test["month"] = test["datetime"].dt.month
test["day"] = test["datetime"].dt.day
test["hour"] = test["datetime"].dt.hour

In [42]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,dayofweek,year,month,day,hour
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,3,2011,1,20,0
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,2011,1,20,1
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,3,2011,1,20,2
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,2011,1,20,3
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,2011,1,20,4

In [48]:
kaggle_test = test[["season","holiday","workingday","weather","temp","atemp","humidity","windspeed","dayofweek","year","month","day","hour"]]

In [49]:
regressor.fit(X, y)

GridSearchCV(cv=None, error_score='raise',
       estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': range(1, 11), 'min_samples_split': range(2, 21), 'min_samples_leaf': range(1, 21)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [54]:
test["count"] = regressor.predict(kaggle_test)

In [56]:
test[["datetime", "count"]]

                datetime       count
0    2011-01-20 00:00:00   11.375000
1    2011-01-20 01:00:00   10.500000
2    2011-01-20 02:00:00    7.400000
3    2011-01-20 03:00:00    2.470588
4    2011-01-20 04:00:00    2.470588
5    2011-01-20 05:00:00    7.625000
6    2011-01-20 06:00:00   37.571429
7    2011-01-20 07:00:00  128.678571
8    2011-01-20 08:00:00  128.678571
9    2011-01-20 09:00:00  128.678571
10   2011-01-20 10:00:00   61.888889
11   2011-01-20 11:00:00   61.888889
12   2011-01-20 12:00:00   61.888889
13   2011-01-20 13:00:00   61.888889
14   2011-01-20 14:00:00   61.888889
15   2011-01-20 15:00:00   61.888889
16   2011-01-20 16:00:00   61.888889
17   2011-01-20 17:00:00  179.142857
18   2011-01-20 18:00:00  179.142857
19   2011-01-20 19:00:00  103.555556
20   2011-01-20 20:00:00   69.391304
21   2011-01-20 21:00:00   44.750000
22   2011-01-20 22:00:00   40.909091
23   2011-01-20 23:00:00   16.625000
24   2011-01-21 00:00:00   11.375000
25   2011-01-21 01:00:00    4.666667
26   2011-01-21 02:00:00    7.400000
27   2011-01-21 03:00:00    2.470588
28   2011-01-21 04:00:00    2.470588
29   2011-01-21 05:00:00    2.285714
...                  ...         ...
6463 2012-12-30 18:00:00  145.631579
6464 2012-12-30 19:00:00  143.264706
6465 2012-12-30 20:00:00   95.173913
6466 2012-12-30 21:00:00  129.000000
6467 2012-12-30 22:00:00   77.500000
6468 2012-12-30 23:00:00  108.227273
6469 2012-12-31 00:00:00   36.975610
6470 2012-12-31 01:00:00   17.844444
6471 2012-12-31 02:00:00    9.978723
6472 2012-12-31 03:00:00    6.581818
6473 2012-12-31 04:00:00    6.581818
6474 2012-12-31 05:00:00   35.181818
6475 2012-12-31 06:00:00  117.833333
6476 2012-12-31 07:00:00  265.866667
6477 2012-12-31 08:00:00  490.733333
6478 2012-12-31 09:00:00  227.222222
6479 2012-12-31 10:00:00  112.137255
6480 2012-12-31 11:00:00  112.137255
6481 2012-12-31 12:00:00  112.137255
6482 2012-12-31 13:00:00  112.137255
6483 2012-12-31 14:00:00  112.137255
6484 2012-12-31 15:00:00  112.137255
6485 2012-12-31 16:00:00  112.137255
6486 2012-12-31 17:00:00  286.941176
6487 2012-12-31 18:00:00  286.941176
6488 2012-12-31 19:00:00  181.037037
6489 2012-12-31 20:00:00  181.037037
6490 2012-12-31 21:00:00  163.250000
6491 2012-12-31 22:00:00  109.500000
6492 2012-12-31 23:00:00   87.600000

[6493 rows x 2 columns]

In [58]:
test[["datetime", "count"]].to_csv("kaggle2.csv", index=False)